.students-list {
    width: 100%;
    max-width: 800px;
    background-color: #77749B;
    padding: 20px;
    border-radius: 8px;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.students-list table {
    width: 100%;
    border-collapse: collapse;
}

.students-list th,
.students-list td {
    padding: 10px;
    text-align: left;
}

.students-list th {
    font-weight: 700;
    color: white;
}

.students-list .btn.edit {
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin: 2px;
}

.students-list .btn.delete {
    color: white;
    border:rgb(206, 0, 0);
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin: 2px;
}

.btn.presence {
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 5px;
    font-size: 14px;
  }
  
  .btn.presence:hover {
    background-color: #45a049;
  }
  