.modal-overlay-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content-form {
    background-color: #332f64;
    border-radius: 8px;
    max-width: 800px;
    width: 90%;
    max-height: 90vh; 
    height: auto; 
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.3);
    padding: 20px;
    overflow-y: auto; 
  }
  
  

  .modal-close-form {
    position: absolute;
    top: -5px;
    right: 15px;
    background: transparent;
    border: none;
    font-size: 2.8rem;
    cursor: pointer;
    color: red;
    transition: transform 0.2s ease;
  }

  .modal-close-form:hover {
    transform: scale(1.2);
  }


.modal-content-form::-webkit-scrollbar {
  width: 8px; 
}


.modal-content-form::-webkit-scrollbar-track {
  background: #332f64;
  border-radius: 10px; 
}

.modal-content-form::-webkit-scrollbar-thumb {
  background: #6c6a9a; 
  border-radius: 10px; 
  border: 2px solid #332f64; 
}


.modal-content-form::-webkit-scrollbar-thumb:hover {
  background: #4e4a7a; 
}
