.sidebar {
    background-color: #1a1a7d;
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
  }
  
  .menu-items {
    margin-top: 20px;
  }
  
  .sidebar-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .sidebar-item.active {
    background-color: #ffffff;
    color: #1a1a7d;
    width: fullscreen;
  }
  
  .sidebar-item:hover {
    background-color: #333399;
  }
  
  .sidebar-item span {
    margin-left: 10px;
  }
  
 .footer {
  display: flex; /* Itens lado a lado */
  justify-content: space-between; /* Espaçamento igual entre os itens */
  align-items: center; /* Centraliza os ícones verticalmente */
  padding: 10px 0; /* Espaçamento entre o footer e os itens */
}

.sidebar-item span {
  margin-left: 10px;
}

.sidebar-item.settings span {
  display: none; /* Oculta o texto no ícone de configurações */
}

.sidebar-item.settings {
  justify-content: center; /* Centraliza o ícone no botão */
}