.payments-list {
    width: 100%;
    max-width: 150%;
    background-color: #77749B;
    padding: 20px;
    border-radius: 8px;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.payments-list table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.payments-list th,
.payments-list td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: anywhere;
}

.payments-list th {
    font-weight: 700;
    color: white;
}
.payments-list td {
    color: white;
    white-space: nowrap;
}

.payments-list .btn.edit {
    color: #ffffff;
    border: none;
    font-size: 1.2em;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.payments-list .btn.edit:hover {
    color: #77f36c;
    transform: scale(1.2);
}

.payments-list .btn.delete {
    color: #ffffff;
    border: none;
    font-size: 1.4em;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.payments-list .btn.delete:hover {
    color: #ff4444;
    transform: scale(1.2);
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 8px 0;
}

@media (max-width: 768px) {
    .payments-list td {
        white-space: normal;
    }
}