.warnings-list {
  width: 100%;
  max-width: 800px;
  background-color: #77749B;
  padding: 20px;
  border-radius: 8px;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.warnings-list table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.warnings-list th,
.warnings-list td {
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  word-wrap: break-word;
}


.warnings-list .btn.edit {
  color: #ffffff;
  font-size: 1.2em;
  padding: 5px;
}

.warnings-list .btn.edit:hover {
  color: #77f36c;
  transform: scale(1.2);
}

.warnings-list .btn.delete {
  color: #ffffff;
  font-size: 1.4em;
  padding: 5px;
}

.warnings-list .btn.delete:hover {
  color: #ff4444;
  transform: scale(1.2);
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 8px 0;
}

@media (max-width: 768px) {
  .mensagem-list table,
  .warnings-list table {
      display: block;
      overflow-x: auto;
  }
}

.btn.view {
  color: rgb(255, 255, 255);
  border: none;
  font-size: 100%;
  background-color: transparent;
  padding: 5px 10px;

  cursor: pointer;
  margin: 2px;
  :hover{
      color: rgb(66, 5, 124);
  }
}