.signup-form {
    max-width: 300px;
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size: 0.85rem;
  }
  
  .forgot-password {
    text-decoration: none;
    color: #2C1E5A;
    font-weight: bold;
  }
  
  .register-link {
    font-size: 0.9rem;
    color: #2C1E5A;
  }
  
  .register-link a {
    text-decoration: none;
    color: #2C1E5A;
    font-weight: bold;
  }

  
.accept-terms {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #2C1E5A;
}

.accept-terms input[type="checkbox"] {
  width: 20px;    
  height: 20px;   
  transform: scale(0.8); 
  accent-color: #2C1E5A; 
}
